<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fy.cms.Mapper.SysRolePermissionMapper">
  <resultMap id="BaseResultMap" type="com.fy.cms.Entity.SysRolePermission">
    <!--@mbg.generated-->
    <id column="ROLE_ID" jdbcType="DECIMAL" property="roleId" />
    <id column="PERMISSION_ID" jdbcType="DECIMAL" property="permissionId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    <!--@mbg.generated-->
    delete from SYS_ROLE_PERMISSION
    where ROLE_ID = #{roleId,jdbcType=DECIMAL}
      and PERMISSION_ID = #{permissionId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.fy.cms.Entity.SysRolePermission">
    <!--@mbg.generated-->
    insert into SYS_ROLE_PERMISSION (ROLE_ID, PERMISSION_ID)
    values (#{roleId,jdbcType=DECIMAL}, #{permissionId,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.fy.cms.Entity.SysRolePermission">
    <!--@mbg.generated-->
    insert into SYS_ROLE_PERMISSION
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        ROLE_ID,
      </if>
      <if test="permissionId != null">
        PERMISSION_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        #{roleId,jdbcType=DECIMAL},
      </if>
      <if test="permissionId != null">
        #{permissionId,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
</mapper>